<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="header">
    <div class="container">
      <div class="logo">🚗 CarRental</div>
      <nav class="nav" id="nav">
        <ul class="nav-links">
          <li><a href="/rental/home/">Home</a></li>
          <li><a href="/rental/about/">About</a></li>
          <li><a href="/rental/contact/">Contact</a></li>
        </ul>
        <button class="nav-toggle" id="navToggle">☰</button>
      </nav>
    </div>
  </header>

</html>